In [72]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from PIL import Image

from scipy.stats import linregress

from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import RandomizedLasso
from sklearn.feature_selection import RFE
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import FunctionTransformer
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier

In [32]:
os.chdir('/Users/MatthewBarnette/data_science/house_prices/data/')
train = pd.read_csv('train.csv')

In [33]:
train.LotFrontage = pd.to_numeric(train.LotFrontage)

In [62]:
train[train.select_dtypes(include='object').columns.values] = train[train.select_dtypes(include='object').columns.values].fillna('None')
train[train.select_dtypes(exclude='object').columns.values] = train[train.select_dtypes(exclude='object').columns.values].fillna(0)

In [44]:
class MultiLabelEncoder:
    
    def __init__(self,columns=None,nafill=None):
        self.columns = columns
        self.nafill = nafill
        
    def fit(self,X,y=None):
        return self
    
    def transform(self,X):
        '''
        Transforms columns specified. If none specified returns all columns
        '''
        if self.columns is not None:
            for column in self.columns:
                X[column] = LabelEncoder().fit_transform(X[column])
        else:
            for colname,column in output.iteritems():
                X[colname] = LabelEncoder().fit_transform(X[column])
        return X
    
    def fit_transform(self,X,y=None):
        return self.fit(X,y).transform(X)

In [47]:
pipe = Pipeline([('LabelEncoder',MultiLabelEncoder(columns=train.select_dtypes(include='object').columns.values,nafill='None'))])

In [48]:
pipe.fit_transform(train)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,3,65.0,8450,1,1,3,3,0,...,0,3,4,1,0,2,2008,8,4,208500
1,2,20,3,80.0,9600,1,1,3,3,0,...,0,3,4,1,0,5,2007,8,4,181500
2,3,60,3,68.0,11250,1,1,0,3,0,...,0,3,4,1,0,9,2008,8,4,223500
3,4,70,3,60.0,9550,1,1,0,3,0,...,0,3,4,1,0,2,2006,8,0,140000
4,5,60,3,84.0,14260,1,1,0,3,0,...,0,3,4,1,0,12,2008,8,4,250000
5,6,50,3,85.0,14115,1,1,0,3,0,...,0,3,2,3,700,10,2009,8,4,143000
6,7,20,3,75.0,10084,1,1,3,3,0,...,0,3,4,1,0,8,2007,8,4,307000
7,8,60,3,NaN,10382,1,1,0,3,0,...,0,3,4,3,350,11,2009,8,4,200000
8,9,50,4,51.0,6120,1,1,3,3,0,...,0,3,4,1,0,4,2008,8,0,129900
9,10,190,3,50.0,7420,1,1,3,3,0,...,0,3,4,1,0,1,2008,8,4,118000
10,11,20,3,70.0,11200,1,1,3,3,0,...,0,3,4,1,0,2,2008,8,4,129500
11,12,60,3,85.0,11924,1,1,0,3,0,...,0,3,4,1,0,7,2006,6,5,345000
12,13,20,3,NaN,12968,1,1,1,3,0,...,0,3,4,1,0,9,2008,8,4,144000
13,14,20,3,91.0,10652,1,1,0,3,0,...,0,3,4,1,0,8,2007,6,5,279500
14,15,20,3,NaN,10920,1,1,0,3,0,...,0,3,1,1,0,5,2008,8,4,157000
15,16,45,4,51.0,6120,1,1,3,3,0,...,0,3,0,1,0,7,2007,8,4,132000
16,17,20,3,NaN,11241,1,1,0,3,0,...,0,3,4,3,700,3,2010,8,4,149000
17,18,90,3,72.0,10791,1,1,3,3,0,...,0,3,4,3,500,10,2006,8,4,90000
18,19,20,3,66.0,13695,1,1,3,3,0,...,0,3,4,1,0,6,2008,8,4,159000
19,20,20,3,70.0,7560,1,1,3,3,0,...,0,3,2,1,0,5,2009,0,0,139000
20,21,60,3,101.0,14215,1,1,0,3,0,...,0,3,4,1,0,11,2006,6,5,325300
21,22,45,4,57.0,7449,1,0,3,0,0,...,0,3,0,1,0,6,2007,8,4,139400
22,23,20,3,75.0,9742,1,1,3,3,0,...,0,3,4,1,0,9,2008,8,4,230000
23,24,120,4,44.0,4224,1,1,3,3,0,...,0,3,4,1,0,6,2007,8,4,129900
24,25,20,3,NaN,8246,1,1,0,3,0,...,0,3,2,1,0,5,2010,8,4,154000
25,26,20,3,110.0,14230,1,1,3,3,0,...,0,3,4,1,0,7,2009,8,4,256300
26,27,20,3,60.0,7200,1,1,3,3,0,...,0,3,4,1,0,5,2010,8,4,134800
27,28,20,3,98.0,11478,1,1,3,3,0,...,0,3,4,1,0,5,2010,8,4,306000
28,29,20,3,47.0,16321,1,1,0,3,0,...,0,3,4,1,0,12,2006,8,4,207500
29,30,30,4,60.0,6324,1,1,0,3,0,...,0,3,4,1,0,5,2008,8,4,68500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1430,1431,60,3,60.0,21930,1,1,2,3,0,...,0,3,4,1,0,7,2006,8,4,192140
1431,1432,120,3,NaN,4928,1,1,0,3,0,...,0,3,4,1,0,10,2009,8,4,143750
1432,1433,30,3,60.0,10800,1,0,3,3,0,...,0,3,4,1,0,8,2007,8,4,64500
1433,1434,60,3,93.0,10261,1,1,0,3,0,...,0,3,4,1,0,5,2008,8,4,186500
1434,1435,20,3,80.0,17400,1,1,3,2,0,...,0,3,4,1,0,5,2006,8,4,160000
1435,1436,20,3,80.0,8400,1,1,3,3,0,...,0,3,0,1,0,7,2008,0,0,174000
1436,1437,20,3,60.0,9000,1,1,3,3,0,...,0,3,1,1,0,5,2007,8,4,120500
1437,1438,20,3,96.0,12444,1,1,3,3,0,...,0,3,4,1,0,11,2008,6,5,394617
1438,1439,20,4,90.0,7407,1,1,3,3,0,...,0,3,2,1,0,4,2010,8,4,149700
1439,1440,60,3,80.0,11584,1,1,3,3,0,...,0,3,4,1,0,11,2007,8,4,197000
1440,1441,70,3,79.0,11526,1,1,0,0,0,...,0,3,4,1,0,9,2008,8,4,191000
1441,1442,120,4,NaN,4426,1,1,3,3,0,...,0,3,4,1,0,5,2008,8,4,149300
1442,1443,60,1,85.0,11003,1,1,3,3,0,...,0,3,4,1,0,4,2009,8,4,310000
1443,1444,30,3,NaN,8854,1,1,3,3,0,...,0,3,4,1,0,5,2009,8,4,121000
1444,1445,20,3,63.0,8500,1,1,3,3,0,...,0,3,4,1,0,11,2007,8,4,179600
1445,1446,85,3,70.0,8400,1,1,3,3,0,...,0,3,4,1,0,5,2007,8,4,129000
1446,1447,20,3,NaN,26142,1,1,0,3,0,...,0,3,4,1,0,4,2010,8,4,157900
1447,1448,60,3,80.0,10000,1,1,3,3,0,...,0,3,4,1,0,12,2007,8,4,240000
1448,1449,50,3,70.0,11767,1,1,3,3,0,...,0,3,1,1,0,5,2007,8,4,112000
1449,1450,180,4,21.0,1533,1,1,3,3,0,...,0,3,4,1,0,8,2006,8,0,92000
1450,1451,90,3,60.0,9000,1,1,3,3,0,...,0,3,4,1,0,9,2009,8,4,136000
1451,1452,20,3,78.0,9262,1,1,3,3,0,...,0,3,4,1,0,5,2009,6,5,287090
1452,1453,180,4,35.0,3675,1,1,3,3,0,...,0,3,4,1,0,5,2006,8,4,145000
1453,1454,20,3,90.0,17217,1,1,3,3,0,...,0,3,4,1,0,7,2006,8,0,84500
1454,1455,20,1,62.0,7500,1,2,3,3,0,...,0,3,4,1,0,10,2009,8,4,185000
1455,1456,60,3,62.0,7917,1,1,3,3,0,...,0,3,4,1,0,8,2007,8,4,175000
1456,1457,20,3,85.0,13175,1,1,3,3,0,...,0,3,2,1,0,2,2010,8,4,210000
1457,1458,70,3,66.0,9042,1,1,3,3,0,...,0,3,0,3,2500,5,2010,8,4,266500
1458,1459,20,3,68.0,9717,1,1,3,3,0,...,0,3,4,1,0,4,2010,8,4,142125
1459,1460,20,3,75.0,9937,1,1,3,3,0,...,0,3,4,1,0,6,2008,8,4,147500

In [50]:
train_columns = train.columns.values

x_train, x_value, y_train, y_value = train_test_split(train[train_columns[1:-1]],train['SalePrice'])

In [78]:
rfc = RandomForestClassifier()

In [79]:
rfe = RFE(rfc,n_features_to_select=1)

In [80]:
rfe.fit(x_train,y_train)

RFE(estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
  n_features_to_select=1, step=1, verbose=0)

In [81]:
print(sorted(zip(map(lambda x: round(x, 4), rfe.ranking_),train_columns)))

[(1, 'LotFrontage'), (2, 'LowQualFinSF'), (3, 'BsmtFinSF2'), (4, 'Electrical'), (5, 'OverallCond'), (6, 'BsmtUnfSF'), (7, 'GarageCars'), (8, 'GarageType'), (9, 'YearBuilt'), (10, 'MSZoning'), (11, 'MiscVal'), (12, 'BsmtFinType1'), (13, 'WoodDeckSF'), (14, 'LandSlope'), (15, 'PavedDrive'), (16, 'MoSold'), (17, 'MasVnrType'), (18, 'KitchenQual'), (19, 'RoofMatl'), (20, '1stFlrSF'), (21, 'Exterior1st'), (22, 'HouseStyle'), (23, 'BsmtExposure'), (24, 'Id'), (25, 'OverallQual'), (26, 'HalfBath'), (27, 'Fireplaces'), (28, 'GarageYrBlt'), (29, 'Heating'), (30, 'BldgType'), (31, 'BsmtCond'), (32, 'Neighborhood'), (33, 'Functional'), (34, 'Utilities'), (35, 'OpenPorchSF'), (36, 'Exterior2nd'), (37, 'FireplaceQu'), (38, 'KitchenAbvGr'), (39, 'PoolQC'), (40, 'Foundation'), (41, 'GarageFinish'), (42, 'YearRemodAdd'), (43, 'Alley'), (44, 'FullBath'), (45, 'SaleType'), (46, 'GrLivArea'), (47, 'MSSubClass'), (48, 'BsmtFinType2'), (49, 'BsmtFinSF1'), (50, '3SsnPorch'), (51, 'BsmtHalfBath'), (52, 'ExterCond'), (53, 'YrSold'), (54, 'ExterQual'), (55, 'BsmtQual'), (56, 'Condition2'), (57, 'MasVnrArea'), (58, 'CentralAir'), (59, 'LotShape'), (60, 'GarageQual'), (61, 'Street'), (62, 'TotRmsAbvGrd'), (63, 'GarageArea'), (64, 'MiscFeature'), (65, 'LotConfig'), (66, 'GarageCond'), (67, 'HeatingQC'), (68, '2ndFlrSF'), (69, 'BsmtFullBath'), (70, 'Fence'), (71, 'BedroomAbvGr'), (72, 'RoofStyle'), (73, 'TotalBsmtSF'), (74, 'EnclosedPorch'), (75, 'Condition1'), (76, 'LotArea'), (77, 'PoolArea'), (78, 'LandContour'), (79, 'ScreenPorch')]